<nav class="navbar navbar-expand-lg mb-4 navbar-dark bg-primary">
  <div class="container-fluid" >
    <a style="font-weight: bold" class="navbar-brand" href="#">📱CONTACT MANAGER📱</a>
  </div>
</nav>
<div class = "container">
  <!-- <h2 class = "page-header" align="center" > Contact Manager </h2> -->
  <form [formGroup]="angForm" (submit) = "addContact()" (keydown.enter)="$event.preventDefault()">
    <div class = "form-group" float = "left" display = "inline-block">
      <label>First Name</label>
      <input type = "text" class = "form-control" formControlName = "first_name" [ngClass]="{'is-invalid': submitted && angForm.controls['first_name'].errors}" >
    </div>
    <div *ngIf="submitted && angForm.controls['first_name'].errors" class="invalid-feedback d-block">
      <div *ngIf="angForm.controls['first_name'].errors.required">First Name is required</div>
    </div>
    <br>

    <div class = "form-group" float = "left" display = "inline-block">
      <label>Last Name</label>
      <input type = "text" class = "form-control" formControlName = "last_name" [ngClass]="{'is-invalid': submitted && angForm.controls['last_name'].errors}">
    </div>
    <div *ngIf="submitted && angForm.controls['last_name'].errors" class="invalid-feedback d-block">
      <div *ngIf="angForm.controls['last_name'].errors.required">Last Name is required</div>
    </div>
    <br>

    <div class = "form-group">
      <label>Phone Number</label>
      <input type = "text" class = "form-control" formControlName = "phone" [ngClass]="{'is-invalid': submitted && angForm.controls['phone'].errors}">
    </div>
    <div *ngIf="submitted && angForm.controls['phone'].errors" class="invalid-feedback d-block">
      <div *ngIf="angForm.controls['phone'].errors.required">Phone No is required</div>
      <div *ngIf="angForm.controls['phone'].errors.minlength">Phone No must have at least 10 numbers</div>
    </div>
    <br>

    <input type= "submit" class = "btn btn-success" value = "Add Contact">
  </form>
</div>

<hr>

<div class = 'container d-flex'>
  <!-- <div class = 'row'>
    <div class = "col-md-3">First Name</div>
    <div class = "col-md-3">Last Name</div>
    <div class = "col-md-3">Phone Number</div>
    <div class = "col-md-3">Operation</div>
  </div>
  <br>
  <div *ngFor = "let contact of contacts">
    <div class = 'row'>
      <div class = "col-md-3">{{contact.first_name}}</div>
      <div class = "col-md-3">{{contact.last_name}}</div>
      <div class = "col-md-3">{{contact.phone}}</div>
      <div class = "col-md-3"><input type= "button" (click) = "deleteContact(contact._id)" value = "Delete" class = "btn btn-danger">
        <br> <br>
      </div>
    </div>
  </div> -->

  <div class="d-flex" style="flex-wrap: wrap">
    <div *ngFor = "let contact of contacts" class="card border-primary mb-3 mx-2" style="min-width: 15rem;">
      <div class="card-header">{{contact.first_name}}</div>
      <div class="card-body">
        <p class="card-text">first name: {{contact.first_name}}</p>
        <p class="card-text">last name: {{contact.last_name}}</p>
        <p class="card-text">phone: {{contact.phone}}</p>
      </div>
    </div>
  </div>
  
  
</div>
<footer style="text-align: center; margin: 2vw; display:block">
    <small>&copy; 2022,  Built with ❤ as WTL mini project</small>
    <p><a href="">source code</a></p>
</footer>